/.vs/ProductsMS/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/ProductsMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/ProductsMS/FileContentIndex/1296af03-ac95-4897-89d5-4e470665b777.vsidx
/.vs/ProductsMS/FileContentIndex/41bbe4eb-bf09-4399-808a-f2bee5bdd2a9.vsidx
/.vs/ProductsMS/FileContentIndex/f13b3140-7dca-47ff-a565-0408ab3e550d.vsidx
/.vs/ProductsMS/FileContentIndex/f9add440-4a96-425f-8263-4bde3cc52a5c.vsidx
/.vs/ProductsMS/v17/.wsuo
/.vs/ProductsMS/v17/DocumentLayout.backup.json
/.vs/ProductsMS/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
/ProductsMS/.vs/ProductsMS/DesignTimeBuild/.dtbcache.v2
/ProductsMS/.vs/ProductsMS/FileContentIndex/0fbc0a35-948b-482d-aa91-e0c4ad780827.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/270369f7-18da-4a87-a33d-7aea37c6f690.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/db030494-cd84-4574-b96a-5e8857377254.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/df4e557e-04af-401c-8f30-0f3fadc9d72c.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/f1ec0aae-ae08-4b95-bdbf-4370b3bfc691.vsidx
/ProductsMS/.vs/ProductsMS/v17/.futdcache.v2
/ProductsMS/.vs/ProductsMS/v17/.suo
/ProductsMS/.vs/ProductsMS/v17/DocumentLayout.backup.json
/ProductsMS/.vs/ProductsMS/v17/DocumentLayout.json
/ProductsMS/.vs/ProductsMS/v17/TestStore/0/000.testlog
/ProductsMS/.vs/ProductsMS/v17/TestStore/0/testlog.manifest
/ProductsMS/.vs/ProjectEvaluation/productsms.metadata.v9.bin
/ProductsMS/.vs/ProjectEvaluation/productsms.projects.v9.bin
/ProductsMS/.vs/ProjectEvaluation/productsms.strings.v9.bin
/ProductsMS/.vs/ProductsMS/FileContentIndex/5e847314-6246-41db-9839-a79f250b06c5.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/8e557b09-d74e-44cb-8be2-6bc65e7e292b.vsidx

/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/CodeChunks.db
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/ProductsMS/.vs/ProductsMS/FileContentIndex/0613b87a-dc64-461c-9f9a-a29748a0df10.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/5f534ad1-ef63-4766-b752-2f0f828084d0.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/741395ee-50a9-4f99-857f-898200c725b0.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/9aec67c2-308a-4777-ab03-b1be4918d988.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/9ecda50c-2779-451d-bb2c-a70072c8fa5b.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/b72f6e29-6273-4e75-9a0e-bc7e07cd98f6.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/ba4b8eb2-06ba-4df3-ac0b-83ba27657620.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/d3d89f9e-f6b1-49d2-95d5-204b02ef83fd.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/eaab64f4-1486-45b6-9f2d-917a8f7b385b.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/f792ac9b-a674-401a-87fc-650da0a36c3a.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/1aec2f4f-75f5-4241-a2e2-ef0097efba93.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/8fbf21ee-39d5-4216-95fa-e97fe70f7858.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/9011f7fb-86a0-4d74-9fcd-6258cbec2f66.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/ddedbc06-3495-4c50-becc-179fecaa4272.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/5ecb824c-cdd7-4381-9c61-9cb4f585de8f.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/f53b9a71-5b09-4347-ac4a-8e8d883a60c1.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/13a93ab9-a0bd-43c0-96cf-48901f6e0a1e.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/30e5a385-0a13-4830-a11c-2d46c93d8142.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/3e689bbe-ad4d-45dd-a326-68e7aa562ab9.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/ec57f24c-f825-4473-af4e-1423d5d0cc9e.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/fba037da-b954-4eba-aa6d-7222abd43b03.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/2293c119-7e0c-40fd-b877-49dd5cbc416f.vsidx
