/ProductsMS/.vs/ProductsMS/config/applicationhost.config
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/CodeChunks.db
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
/ProductsMS/.vs/ProductsMS/DesignTimeBuild/.dtbcache.v2
/ProductsMS/.vs/ProductsMS/FileContentIndex/30e5a385-0a13-4830-a11c-2d46c93d8142.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/4f631b27-5e85-47cb-8f6a-060f89a60d9c.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/81fc4f58-e68b-4946-901b-05212e67a6b5.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/9ec36eb9-30aa-4363-bdfb-e1365ab615be.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/d50908ca-2584-46a8-b73f-409b8009e69c.vsidx
/ProductsMS/.vs/ProductsMS/v17/.futdcache.v2
/ProductsMS/.vs/ProductsMS/v17/.suo
/ProductsMS/.vs/ProductsMS/v17/DocumentLayout.backup.json
/ProductsMS/.vs/ProductsMS/v17/DocumentLayout.json
/ProductsMS/.vs/ProjectEvaluation/productsms.metadata.v9.bin
/ProductsMS/.vs/ProjectEvaluation/productsms.projects.v9.bin
/ProductsMS/.vs/ProjectEvaluation/productsms.strings.v9.bin
