################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ProductsMS/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/ProductsMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/ProductsMS/FileContentIndex/1296af03-ac95-4897-89d5-4e470665b777.vsidx
/.vs/ProductsMS/FileContentIndex/8900bb44-53b6-42b8-af71-1a42a872351f.vsidx
/.vs/ProductsMS/FileContentIndex/f13b3140-7dca-47ff-a565-0408ab3e550d.vsidx
/.vs/ProductsMS/v17/.wsuo
/.vs/ProductsMS/v17/DocumentLayout.backup.json
/.vs/ProductsMS/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/ProductsMS/.vs/ProductsMS/config/applicationhost.config
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/CodeChunks.db
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/ProductsMS/.vs/ProductsMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
/ProductsMS/.vs/ProductsMS/DesignTimeBuild/.dtbcache.v2
/ProductsMS/.vs/ProductsMS/FileContentIndex/1ed0a1d4-e521-4726-af26-86079f64fd43.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/5a0f325e-4660-4fc7-b21b-621d69e3e9e8.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/bdec346f-2f5e-40ac-a424-da7cd16b17c2.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/c310e803-9dbf-41c6-a137-832d5e462c4a.vsidx
/ProductsMS/.vs/ProductsMS/FileContentIndex/e80cf991-6d6b-4375-8ae3-d005a7e83623.vsidx
/ProductsMS/.vs/ProductsMS/v17/.futdcache.v2
/ProductsMS/.vs/ProductsMS/v17/.suo
/ProductsMS/.vs/ProductsMS/v17/DocumentLayout.backup.json
/ProductsMS/.vs/ProductsMS/v17/DocumentLayout.json
/ProductsMS/.vs/ProductsMS/v17/TestStore/0/000.testlog
/ProductsMS/.vs/ProductsMS/v17/TestStore/0/testlog.manifest
/ProductsMS/.vs/ProjectEvaluation/productsms.metadata.v9.bin
/ProductsMS/.vs/ProjectEvaluation/productsms.projects.v9.bin
/ProductsMS/.vs/ProjectEvaluation/productsms.strings.v9.bin
